* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: Arial sans-serif;*/
  font-family: 'Inter', sans-serif;
}

/*navigation bar style*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 40px;
  height: 120px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 200px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 60px;
  margin-left: 110px;
}

.nav-menu li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  color: #197d32;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  transition: color 0.2s;
}

.nav-menu li a:hover {
  color: #38423f;

}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #197d32;
  font-weight: 1000;
  font-size: 24px;
  transition:all 0.25s ease-in-out;
}
.navbar-right:hover {
  color: #38423f;
  transform: translateY(-8px) scale(1.03); /* зоом */
  z-index: 1;
}

.phone-icon {
  height: 45px;
  width: 45px;
  margin-left: 30px;
  object-fit: contain;
}

/*Home Page*/
.hero {

  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url('background_home.jpg') no-repeat center center/cover;

  min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;

}

.hero-text {

  font-size: 30px;
  padding-left: 60px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}

/*Discover our vehicles*/
.vehicle-section {
  padding: 60px 20px;
  text-align: center;
  background-color: #ffffff;

}

.vehicle-section h2 {
  font-size: 2.8rem;
  margin-bottom: 40px;
  color: #111;
}

.vehicle-section h3 {
  font-size: 2.8rem;
  margin-bottom: 40px;
  color: #197d32;
  font-weight: 1500;
}

.vehicle-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;

}

.vehicle-card {
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 30px;
  width: 480px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-decoration: none;
}

.vehicle-card:hover {
  transform: scale(1.05);
}

.vehicle-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.vehicle-card p {
  margin-top: 15px;
  font-size: 50px;
  font-weight: 500;
  color: #222;
}

/*Bikes and Scooters Overview*/
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
  padding: 32px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url('second_background.png') no-repeat center center/cover;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  min-height: 480px; /* еднаква височина за всички */
  max-width: 300px;
  text-align: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.card img {
  transition: transform 0.3s ease-in-out;
}
.card:hover img {
  transform: scale(1.05);
}
.card:hover {
  transform: translateY(-8px) scale(1.03); /* зоом */
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2); /* сянка */
  z-index: 1;
}
/*Rent and unrent in green and red*/
.availability {
  font-weight: bold;
  margin-top: 8px;
  font-size: 25px;
}

.available {
  color: green;
  font-size: 25px;
}

.unavailable {
  color: red;
  font-size: 25px;
}

.grid .card .details {
  padding: 20px;
}
.grid .card .details h3 {
  font-size: 20px;
  margin: 8px 0;
  color: #333;
  font-family: "Bookman Old Style", sans-serif;
}
.grid .card .details .extra {
  font-size: 18px;
  color: #888;
  font-family: "Bookman Old Style", sans-serif;
}

/*Rent button*/
.rent-btn{
  margin-top: auto;
  align-self: center;
  background-color: #006400;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  transition: all 0.25s ease-in-out;
}

.rent-btn:hover {
  background-color: #fb7756;
}

/*Add page form*/
.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.modal-content label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #222;
  font-size: 15px;
}

.modal-content input,
.modal-content textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  margin-top: 5px;
  transition: border 0.3s ease;
  outline: none;
}

.modal-content input:focus,
.modal-content textarea:focus {
  border-color: #006400;
  box-shadow: 0 0 0 2px rgba(0, 100, 0, 0.1);
}

/*Submit button in add page form*/
.submit-btn {
  background-color: #006400;
  color: #fff;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/*Add buttons in add page*/
.Add-btn {
  background-color: #006400;
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  font-weight: 600;
  font-size: 25px;
  transition: all 0.3s ease;
  text-decoration: none;
  display: block;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.center{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

/* ADD-BUTTONS ADD PAGE */
.add-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* common button styles */
.add-buttons__btn {
  padding: 5px 10px;
  font-size: 25px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* variant colors */
.add-buttons__btn--scooter {
  background: #4caf50;
  color: #fff;
}

.add-buttons__btn--bike {
  background: #2196f3;
  color: #fff;
}

/* disabled state */
.add-buttons__btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* about page */
.about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}
/* WHO WE ARE */
.about-head {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.about-left {
  flex: 1;
  min-width: 250px;
}

.about-left h2,
.about-right h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #111;
}

.about-right {
  flex: 2;
  min-width: 300px;
}

.about-right p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.about-image {
  text-align: left;
  flex: 1;
}

.about-image img {
  width: 100%;
  max-width: 1000px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
/* WHAT WE DO */
.about-head.align-top {
  align-items: flex-start;
  margin-top: 100px;
}

.about-right-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
}

.about-right-text h2 {
  font-size: 36px;
  margin-bottom: 20%;
}

.about-right-text p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}





/*# sourceMappingURL=App.css.map */
